* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    
}

body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
}

p {
    font-size: 20px;
}

